body {
    background: white ;
}
table {
    border:0px solid red;
    width:100%;
}

table.main {
    border:0px solid green;
    text-align:center;
    width:60em;
    margin-left: auto;
    margin-right: auto;
}
table.statistics {
    margin-left: auto;
    margin-right: auto;
    border:2px solid #c92b2f;
    text-align:left;
    border-radius : 25px;
    padding: 1em;
}
table.details {
    margin-left: auto;
    margin-right: auto;
    border:0px solid blue;
    text-align:left;
}
td {
    border:0px solid black;
}
td.ip_infos {
    border:1px solid black;
}
td.menu_gauche {
    width: 20% ;
    text-align: left ;
    vertical-align: top ;
}
td.menu_right {
    align: center ;
    vertical-align: middle ;
}
td.menu_top {
    text-align: center ;
    vertical-align: middle ;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    border:0px solid green;
}
td.actions {
    vertical-align: middle ;
    align: center ;
}
td.cracked {
    vertical-align: middle ;
    align: center ;
    color: #c92b2f;
    font-weight: bold;
}

tr {
    border:0px solid blue;
}
tr.table_title{
    font-weight: bold;
}
tr.infos{
    font-weight: bold;
    align: left ;
}
tr.tableau_resultat_row0 {
    background-color: #A9E2F330;
    text-align:center;
}
tr.tableau_resultat_row1 {
    background-color: #e0e0e0c0;
    text-align:center;
}
tr.details {
    margin-left: auto;
    margin-right: auto;
    border:0px solid blue;
    text-align:left;
    padding: 1em;
    font-weight: bold;
}
td.toggle_menu {
    background-color: #30A93030;
    text-align:center;
    font-weight: bold;
}

th {
    background-color: none;
    border:0px solid blue;
    font-family: Arial, sans-serif;
    text-align:left;
    font-weight: bold;
}

img.menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height : 50px;
}
img.logo {
  display: inline-block;
  height : 80px;
  hspace : 20px;
}
img.logo_left {
  display: inline-block;
  height : 80px;
  float: center;
  hspace : 20px;
}
img.logo_right {
  display: inline-block;
  height : 80px;
  float: center;
}
img.actions {
  vertical-align: middle ;
  align: center ;
  height : 20px;
  alt : "MyImageReload";
}
img.ip_link {
  width: 14px; /* Width of new image */
  height: 14px; /* Height of new image */
  padding-left: 6px; /* Equal to width of new image */
}

#images{
    text-align:center;
}
a.firstletter {
    color : #c92b2f;
}
a.cracked {
    color: #c92b2f;
    font-weight: bold;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  padding: 16px;
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  height: 90%; /* Used in this example to enable scrolling */
}

button {
    width: 50px;
    /* height: 30px; */
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: grey;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: grey;
    border-color: black;
}